* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: #000000;
    overflow: visible !important;

}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #ff790c;
    box-shadow: 0 0 10px #ff790c, 0 0 20px #ff790c;
}

.cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(255, 61, 0, 0.5);
    transition: all 0.2s;
}